<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>bryclee{+title /}</title>

    {+style /}
    <link rel="stylesheet" href="/css/app.css">
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <header class="header-bar">
      <div class="header-bar-fill fixed">
        <div class="fixed" id="header-banner">
          <a href="/"><span class="fill-parent"></span></a>
        </div>
      </div>
      <script src="/js/name.bundle.js"></script>
    </header>

    {+body /}

  </body>
</html>
