<%# Props: title, style, content %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= ['bryclee', title].join(' - '); %></title>

    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="shortcut icon" href="/static/favicon.ico">

    <% if (style) { %>
      <link rel="stylesheet" href="<%- style %>">
    <% } %>

    <script src="/static/js/name.bundle.js"></script>
    <% if (script) { %>
      <script src="<%- script %>">
    <% } %>
  </head>
  <body>
    <header class="header-bar">
      <div class="header-bar-fill fixed">
        <div class="fixed" id="header-banner">
          <a href="/"><span class="fill-parent"></span></a>
        </div>
      </div>
    </header>

    <main>
      <%- include(contentPath, contentData) %>
    </main>
  </body>
</html>
