<!DOCTYPE html>
{>"layouts/master" /}

{<style}
{/style}

{<body}
  <div class="main-content">

    <div class="left-col-wrapper">
      <div class="left-col fixed">
        <div id="subheader">Hi, I'm Bryan Lee.</div>
        <div class="sidebar-about">
          <p>I'm a software engineer in the Bay Area. I work with JavaScript and the full-stack, but I love learning and working with new technologies.</p>
          <p>I'm still working on my site, so come back soon and hopefully see it change!</p>
          <p>In the meantime, please check out my <a href="misc/resume.pdf">resume</a> or my <a href="https://github.com/bryclee">github</a> to see some of my work!</p>
        </div>
      </div>
    </div>

    <div class="center-col">
      <div class="blog-posts">
        {#posts}
          <div class="blog-post">
            <h1 class="post-title">{title}</h1>
            <div class="post-content">
              <div class="post-text">{text}</div>
              <div class="post-tags">
                {#tags}
                  <a class="post-tag" href="/tags/{.}">{.}</a>
                {/tags}
              </div>
            </div>
          </div>
        {/posts}
      </div>
    </div>

  </div>
{/body}
